# Postgres
POSTGRES_DB=place this with your database name
POSTGRES_USER=place this with your database user
POSTGRES_PASSWORD=place this with your database password
POSTGRES_HOST=place this with your database host
POSTGRES_PORT=place this with your database port

# Admin auth
ADMIN_USERNAME=place this with your admin username
ADMIN_PASSWORD=place this with your admin password

# User registration
REGISTRATION_CODE=place this with your registration code



# AWS / S3
S3_BUCKET_NAME=place this with your S3 bucket name
AWS_DEFAULT_REGION = "place this with your AWS region"
AWS_ACCESS_KEY_ID = "place this with your AWS access key ID"
AWS_SECRET_ACCESS_KEY = "place this with your AWS secret access key"

LOG_S3_PREFIX=logs

# OpenAI
OPENAI_API_KEY="place this with your OpenAI API key"

BACKEND_URL=http://127.0.0.1:8000

